.square1
{
    background-color: black;
  color: rgb(255, 0, 0);
}
.square2
{
    background-color: rgb(63, 0, 180);
  color: rgb(245, 241, 244);
}

.container1
{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    'square1 square2'
    'square1 dropdown'
    'square1 square2'
    'square1 square2'
    ;
    
}

.dropbtn {
    text-align: center  ;
    background-color: #3d77e2;
    color: rgb(255, 255, 255);
    
    font-size: 16px;
    width: 120px ;
    height:60px;
    border-width: 3px;
    font-weight:bold;
    font-size: 20pt;
    border-style: solid;
    border-color: rgb(24, 2, 122);
    border-radius: 25px;
    position: fixed;

  }
  
  .dropdown {
 
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    align-items: left;
    background-color: #3d77e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    position: fixed;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 25px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color:  #3d77e2;
}

  .Homepage_background{
    background-image: url(Background.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .t {
    align-self: center;
    text-align: center;
    color: rgb(255, 255, 255);  
    text-shadow:
    1px 1px 0 rgb(38, 14, 172),
    -1px 1px 0 rgb(38, 14, 172),
    -1px -1px 0 rgb(38, 14, 172),
    1px -1px 0 rgb(38, 14, 172);
    background-color: #3d77e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    padding-left: 15px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin-top: 70px;
    font-size: 15px;

    

  }
  .pic{
    padding-top: 100px;
    align-self: right;
  }

   
    
  